::selection
{
background:rgb(167, 167, 167);
color:rgb(255, 255, 255);
}

*{
    text-decoration: none;
}

.card-posts,.card-suggestions, .carrd{
    /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.694); */
    box-shadow: 0px 0px 15px 2px rgba(255,255,255,0.51);
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgb(255, 255, 255);

   /* border:6px solid radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%); */
    

}

nav{
    box-shadow: 0px 1px 15px 2px rgba(255,255,255,0.51);

}

.prof-img{
    box-shadow: 0px 0px 2px 1px rgba(48, 48, 48, 0.51);
}

a{
    text-decoration: none;
}

.butn{
    background: rgb(219, 39, 119);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s;
    /* box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2); */

}
.butn:hover,.butn:active,.butn:focus{
    border: 1px solid rgb(219, 39, 119);
    background: rgb(219, 39, 119);
    color: rgb(0, 0, 0);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(188, 2, 2, 0.2);
}



.butnsrch{
    background :rgba(219, 220, 220, 0.374);
    transition: 0.5s;

}
.butnsrch svg{
    fill: rgb(0, 0, 0);
}
.butnsrch:hover,.butnsrch:active, .butnsrch:focus{
    background :rgb(219, 220, 220);
}


.elems{
    border: 1px solid rgb(219, 39, 119);
    background: white;
    color: black;
    transition: 0.5s;

}

.elems:hover,.elems:active{
    border: 1px solid rgb(219, 39, 119);
    background: rgb(219, 39, 119);
    color: white;
}

.elemsearch{
    border: 1px solid rgb(219, 39, 119);
    background: white;
    color: black;
    box-shadow: none;
}

.elemsearch:active, .elemsearch:focus, .elemsearch:hover{
    box-shadow: none;
    border:1px solid rgb(219, 39, 119) ;
}


.bgelems:hover{
    background: rgba(219, 220, 220, 0.498);
    border-radius: 30px;
    transition: 0.5s;

}

.bgelems a{
    border: none;
}

.proful a, .proful a:hover, .proful a:active, .proful a:focus{
color: black;
text-decoration: none;
cursor: pointer;
}

.proful li:hover{
    background: rgba(219, 220, 220, 0.498);
    transition: 0.5s;
}